<div class="card">
  <div class="card-header">
    <div class="float-left" *ngIf="is('edit') && ticketCloned">
      <button type="button" class="btn btn-outline-dark" *ngIf="is('edit')" (click)="onTicketAction('reassignToSupervisor')">
        <i class="fas fa-user"></i> Reassign To supervisor
      </button>
      <button type="button" class="btn btn-danger" *ngIf="ticketCloned?.ticketStatus !== TicketStatus.Cancel"
              (click)="onTicketAction('cancel')">
        <i class="fas fas fa-fw fa-times"></i> Reject Ticket
      </button>
      <button type="button" class="btn btn-primary" *ngIf="ticketCloned?.ticketStatus === TicketStatus.Cancel"
              (click)="onTicketAction('reopen')">
        <i class="fas fa-redo"></i> Reopen Ticket
      </button>
    </div>

    <div class="float-right">
      <a class="btn btn-md btn-secondary" [routerLink]="linkToList()">
        <i class="fa fa-chevron-circle-left"></i> Return to list
      </a>
      <a class="btn btn-md btn-secondary" href="javascript:void(0)" *ngIf="hasBackHistory" (click)="goBack()">
        <i class="fa fa-chevron-circle-left"></i> Back
      </a>
      <button type="button" *ngIf="!is('detail')"
              [ngClass]="['btn btn-md', is('new') ? 'btn-success' : 'btn-primary']"
              (click)="modelForm.ngSubmit.emit()"
              [disabled]="!modelForm.form.valid || isLoading">
        <i class="fa fa-check-circle"></i> {{ is('new') ? 'First Step' : 'Save' }}
      </button>
      <a *ngIf="is('detail')" class="btn btn-md btn-primary text-white"
         [routerLink]="['../edit']" [queryParams]="getHistoryParams()">
        <i class="fas fa-edit"></i> Edit
      </a>
    </div>
  </div>

  <div class="card-body block-loading" [class.is-loading]="isLoading">

    <form method="post" enctype="multipart/form-data" class="form-horizontal admin-crud-form"
          [class.admin-crud-form]="!is('detail')"
          (ngSubmit)="onSubmit()"
          #modelForm="ngForm">

      <div class="clearfix pb-5" *ngIf="!is('new')">
        <div class="float-left">
          <h1 class="font-weight-bold mt-1">
            {{ model.name }}
          </h1>
        </div>

        <div class="step-breadcrumb float-right">
          <ul *ngIf="ticketCloned?.ticketStatus !== TicketStatus.Cancel">
            <li *ngFor="let option of ticketStatusOptions | toArray">
              <a class="text-white" [ngClass]="{ 'step-active': option.key === ticketCloned?.ticketStatus }" (click)="onTicketStatusUpdate(option.key)">
                {{ option.value }}
              </a>
            </li>
          </ul>

          <ul *ngIf="ticketCloned?.ticketStatus === TicketStatus.Cancel">
            <li>
              <a class="text-white step-active">
                {{ ticketCloned?.ticketStatusDisplay }}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-md-4 form-control-label required" for="customer">Customer</label>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-9 pr-0">
                  <input name="customer" id="customer" class="form-control"
                         [class.is-invalid]="!model.customer"
                         required readonly
                         [disabled]="is('detail')"
                         [value]="model.customer?.name">

                  <div *ngIf="!model.customer" class="invalid-feedback">
                    Customer is required.
                  </div>
                </div>
                <div class="col-md-3 text-right">
                  <button type="button" class="btn btn-primary" *ngIf="!is('detail') && !model.customer" (click)="modal.open(customerSelect, 'lg')">Add</button>
                  <button type="button" class="btn btn-primary" *ngIf="!is('detail') && model.customer" (click)="modal.open(customerSelect, 'lg')">Change</button>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="is('detail')">
            <label class="col-md-4 form-control-label required" for="reporter">Reporter</label>
            <div class="col-md-8">
              <input id="reporter" name="reporter" class="form-control" disabled [value]="model.reporter?.name">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-4 form-control-label" for="assignee">Assignee</label>
            <div class="col-md-8">
              <ng-container *ngIf="!is('detail')">
                <select name="assignee" id="assignee" class="form-control"
                        [ngModel]="model.assignee?.id" (change)="selectById($event.target.value, 'model.assignee', 'assigneeList')" #assignee="ngModel">
                  <option [value]="null">Unassigned</option>
                  <option *ngFor="let assignee of assigneeList" [value]="assignee.id">{{ assignee.fullName }}</option>
                </select>
              </ng-container>

              <input *ngIf="is('detail')" class="form-control" disabled [value]="model.assignee?.fullName">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-4 form-control-label" for="supervisor">Supervisor</label>
            <div class="col-md-8">
              <ng-container *ngIf="!is('detail')">
                <select name="supervisor" id="supervisor" class="form-control"
                        [ngModel]="model.supervisor?.id" (change)="selectById($event.target.value, 'model.supervisor', 'supervisorList')" #supervisor="ngModel">
                  <option [value]="null">Unassigned</option>
                  <option *ngFor="let supervisor of supervisorList" [value]="supervisor.id">{{ supervisor.fullName }}</option>
                </select>
              </ng-container>

              <input *ngIf="is('detail')" class="form-control" disabled [value]="model.supervisor?.fullName">
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-4 form-control-label" for="actualEndDate">Actual End Date</label>
            <div class="col-md-8">
              <input id="actualEndDate" name="actualEndDate" class="form-control" placeholder="Actual End Date"
                     [disabled]="is('detail')"
                     bsDatepicker [bsConfig]="adminConfig?.bootstrap?.datePicker"
                     [(ngModel)]="model.actualEndDate.short" #actualEndDate="ngModel">

            </div>
          </div>

          <div class="form-group row" *ngIf="model.parentTicket">
            <label class="col-md-4 form-control-label" for="parentTicket">Parent Ticket</label>
            <div class="col-md-8">
              <input id="parentTicket" name="parentTicket" class="form-control" placeholder="Parent Ticket"
                     [disabled]="is('detail')"
                     [(ngModel)]="model.parentTicket" #parentTicket="ngModel">

            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-4 form-control-label">Tags</label>
            <div class="col-md-8 tag-input-border" [ngStyle]="{ 'pointer-events': is('detail') ? 'none' : 'auto' }" >
              <tag-input name="tags" [(ngModel)]="tagList" [modelAsStrings]="true"></tag-input>
            </div>
          </div>

          <div *ngIf="is('new')" class="form-group row">
            <label class="col-md-4 form-control-label required" for="ticketDataTemplateType">Data Template</label>
            <div class="col-md-8">
              <select name="ticketDataTemplateType" id="ticketDataTemplateType" class="form-control"
                      [class.is-invalid]="ticketDataTemplateType.touched && ticketDataTemplateType.invalid"
                      required
                      [(ngModel)]="model.ticketDataTemplateType" #ticketDataTemplateType="ngModel">
                <option value="null" disabled>Please select a template</option>
                <option *ngFor="let option of ticketDataTemplateTypeOptions | toArray" [value]="option.key">{{ option.value }}</option>
              </select>

              <div *ngIf="ticketDataTemplateType.touched && ticketDataTemplateType.invalid" class="invalid-feedback">
                <div *ngIf="ticketDataTemplateType?.errors.required">
                  Data Template is required.
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="!is('new')">
            <label class="col-md-4 form-control-label">Document</label>
            <div class="col-md-8">
              <div *ngFor="let document of model.ticketDocuments">
                <a [href]="document.fullFilePath">{{ document.displayName }}</a>
              </div>
              <div *ngIf="model.ticketDocuments?.length == 0">No document uploaded</div>
              <button *ngIf="!is('new')" type="button" class="btn btn-md btn-success"
                      (click)="modal.open(uploadFilesModal, 'lg')">
                <i class="fa fa-upload"></i> Upload document
              </button>
            </div>
          </div>
        </div>

        <div class="col-md-6 pb-3">
          <div class="border border-secondary p-2">
            <ng-container *ngIf="!is('new')">
              <div class="clearfix pb-2">
                <div class="float-left">
                  <h5 class="mb-4 pb-1 font-weight-bold">
                    {{ is('new') ? 'FIRST STEP' : 'STEP: ' + currentStep.name }}
                  </h5>
                </div>
              </div>

            </ng-container>

            <div class="form-group row" *ngIf="is('new')">
              <label class="col-md-3 form-control-label required" for="stepName" required>Name</label>
              <div class="col-md-9">
                <input type="text" id="stepName" name="stepName" class="form-control" placeholder="Step name"
                       [disabled]="!is('new')"
                       required
                       [(ngModel)]="currentStep.name" #stepName="ngModel">

              </div>
              <div *ngIf="stepName.touched && stepName.invalid" class="invalid-feedback">
                <div *ngIf="stepName?.errors.required">
                  Step name is required.
                </div>
              </div>

            </div>


            <div class="form-group row">
              <label class="col-md-3 form-control-label required" for="currentStepDescription">Description</label>
              <div class="col-md-9">
                <input type="text" id="currentStepDescription" name="currentStepDescription" class="form-control" placeholder="Step description"
                       [disabled]="!is('new')"
                       required
                       [(ngModel)]="currentStep.description" #currentStepDescription="ngModel">
              </div>
              <div *ngIf="currentStepDescription.touched && currentStepDescription.invalid" class="invalid-feedback">
                <div *ngIf="currentStepDescription?.errors.required">
                  Description is required.
                </div>
              </div>

            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="currentStepContent">Details and Response</label>
              <div class="col-md-9">
                <textarea id="currentStepContent" name="currentStepContent" class="form-control" style="height: 150px;" placeholder="Content"
                          [disabled]="!is('new')"
                          [(ngModel)]="currentStep.content" #currentStepContent="ngModel">
                </textarea>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 form-control-label" for="notification">Notification</label>
              <div class="col-md-9">
                <div class="toggle-wrapper">
                  <input type="checkbox" id="notification" name="notification" [disabled]="!is('new')"
                         [(ngModel)]="currentStep.isNotified" #notification="ngModel"/>
                  <label for="notification" class="toggle"><span class="toggle-handler"></span></label>
                </div>
              </div>

            </div>

            <div class="clearfix" *ngIf="!is('new')">
              <div class="float-left">
                <a class="btn btn-md btn-primary text-white"
                   (click)="modal.open(stepModal, 'md'); initStepUpdate()">
                  <i class="fas fa-edit"></i> {{ is('detail') ? 'View' : 'Edit' }} in Details
                </a>
              </div>

              <div class="float-right" *ngIf="is('edit')">
                <a class="btn btn-md btn-info text-white"
                   (click)="onStepSubmit('update', true); modal.open(stepModal, 'md'); modalAction = 'create'">
                  <i class="fas fa-check-circle"></i> Done & Create Other Step
                </a>

                <a class="btn btn-md btn-success text-white"
                   (click)="onStepSubmit('update', true); onTicketStatusUpdate(TicketStatus.Done)">
                  <i class="fas fa-check-circle"></i> Done & Finish Ticket
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="border border-secondary p-2">
        <h5 class="mb-4 font-weight-bold">
          CONTENT
        </h5>

        <ng-container *ngIf="!is('detail')">
          <div class="form-group row">
            <label class="col-md-2 form-control-label required" for="name">Name</label>
            <div class="col-md-10">
              <input type="text" id="name" name="name" class="form-control" placeholder="Name"
                     [disabled]="is('detail')"
                     required
                     [(ngModel)]="ticketContentToAction.name" #name="ngModel">

            </div>
            <div *ngIf="name.touched && name.invalid" class="invalid-feedback">
              <div *ngIf="name?.errors.required">
                Ticket name is required.
              </div>
            </div>
          </div>
        </ng-container>

        <div class="form-group row">
          <label class="col-md-2 form-control-label" for="shortDescription">Short Description</label>
          <div class="col-md-10">
            <textarea id="shortDescription" name="shortDescription" class="form-control" placeholder="Short Description"
                      [disabled]="is('detail')"
                      [(ngModel)]="ticketContentToAction.shortDescription" #shortDescription="ngModel">
            </textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 form-control-label" for="fullContext">Full Context</label>
          <div class="col-md-10">
          <textarea id="fullContext" name="fullContext" class="form-control" style="height: 250px" placeholder="Full Context"
                    [disabled]="is('detail')"
                    [(ngModel)]="ticketContentToAction.fullContext" #fullContext="ngModel">
          </textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-2 form-control-label" for="specialRequest" style="height: 100px;">Special Request</label>
          <div class="col-md-10">
          <textarea id="specialRequest" name="specialRequest" class="form-control" placeholder="Special Request"
                    [disabled]="is('detail')"
                    [(ngModel)]="ticketContentToAction.specialRequest" #specialRequest="ngModel">
          </textarea>
          </div>
        </div>

        <ng-container *ngIf="!is('new')">
          <div class="card-body">
            <tabset>
              <!-- Todo: will be applied in next ticket -->
              <tab heading="Comments"></tab>
              <tab heading="History"></tab>

              <tab heading="More Details">

                <div class="form-group row">

                  <label class="col-md-2 form-control-label" for="referencedContractNo">Referenced Contract</label>
                  <div class="col-md-4">
                    <input type="text" id="referencedContractNo" name="referencedContractNo" class="form-control" placeholder="Referenced Contract"
                           [disabled]="is('detail')"
                           [(ngModel)]="model.referencedContractNo" #referencedContractNo="ngModel">

                  </div>

                  <label class="col-md-2 form-control-label" for="referencedInvoiceNo">Referenced Invoice</label>
                  <div class="col-md-4">
                    <input type="text" id="referencedInvoiceNo" name="referencedInvoiceNo" class="form-control" placeholder="Referenced Invoice"
                           [disabled]="is('detail')"
                           [(ngModel)]="model.referencedInvoiceNo" #referencedInvoiceNo="ngModel">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-2 form-control-label required" for="ticketDataTemplateType">Data Template</label>
                  <div class="col-md-4">
                    <ng-container *ngIf="!is('detail')">
                      <select name="ticketDataTemplateType" id="ticketDataTemplateType" class="form-control"
                              [class.is-invalid]="ticketDataTemplateType.touched && ticketDataTemplateType.invalid"
                              required
                              [(ngModel)]="model.ticketDataTemplateType" #ticketDataTemplateType="ngModel">
                        <option value="null" *ngIf="is('new')" disabled>Please select a template</option>
                        <option *ngFor="let option of ticketDataTemplateTypeOptions | toArray" [value]="option.key">{{ option.value }}</option>
                      </select>

                      <div *ngIf="ticketDataTemplateType.touched && ticketDataTemplateType.invalid" class="invalid-feedback">
                        <div *ngIf="ticketDataTemplateType?.errors.required">
                          Data Template is required.
                        </div>
                      </div>
                    </ng-container>

                    <input *ngIf="is('detail')" class="form-control" disabled [value]="model.ticketDataTemplateTypeDisplay">
                  </div>

                  <label class="col-md-2 form-control-label" for="vote">Vote</label>
                  <div class="col-md-4">
                    <input type="number" id="vote" name="vote" class="form-control" placeholder="Vote"
                           [disabled]="is('detail')"
                           [(ngModel)]="model.vote" #vote="ngModel">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-2 form-control-label" for="expectedStartDate">Expected Start Date</label>
                  <div class="col-md-4">
                    <input id="expectedStartDate" name="expectedStartDate" class="form-control" placeholder="Expected Start Date"
                           [disabled]="is('detail')"
                           bsDatepicker [bsConfig]="adminConfig?.bootstrap?.datePicker"
                           [(ngModel)]="model.expectedStartDate.short" #expectedStartDate="ngModel">

                  </div>

                  <label class="col-md-2 form-control-label" for="expectedEndDate">Expected End Date</label>
                  <div class="col-md-4">
                    <input id="expectedEndDate" name="expectedEndDate" class="form-control" placeholder="Expected End Date"
                           [disabled]="is('detail')"
                           bsDatepicker [bsConfig]="adminConfig?.bootstrap?.datePicker"
                           [(ngModel)]="model.expectedEndDate.short" #expectedEndDate="ngModel">

                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-2 form-control-label" for="assignedDate">Assigned Date</label>
                  <div class="col-md-4">
                    <input id="assignedDate" name="assignedDate" class="form-control" placeholder="Assigned Date"
                           [disabled]="is('detail')"
                           bsDatepicker [bsConfig]="adminConfig?.bootstrap?.datePicker"
                           [(ngModel)]="model.assignedDate.short" #assignedDate="ngModel">

                  </div>
                </div>

                <div class="form-group row" *ngIf="!is('detail')">
                  <label class="col-md-2 form-control-label" for="note">Note</label>
                  <div class="col-md-4">
                    <textarea id="note" name="note" class="form-control" placeholder="Note"
                              [disabled]="is('detail')"
                              [(ngModel)]="model.note" #note="ngModel">
                    </textarea>
                  </div>

                  <label class="col-md-2 form-control-label" for="evaluationComment">Evaluation Comment</label>
                  <div class="col-md-4">
                    <textarea id="evaluationComment" name="evaluationComment" class="form-control" placeholder="Comment"
                              [disabled]="is('detail')"
                              [(ngModel)]="model.evaluationComment" #evaluationComment="ngModel">
                    </textarea>
                  </div>
                </div>

                <div class="form-group row">
                  <label class="col-md-2 form-control-label">Time Log</label>
                  <div class="col-md-4">
                    <input class="form-control" placeholder="Time Log" disabled
                           [value]="model.timeConsumed | day">

                  </div>

                  <label class="col-md-2 form-control-label">Time Age</label>
                  <div class="col-md-4">
                    <input class="form-control" placeholder="Time Age" disabled
                           [value]="model.timeAge | day">

                  </div>
                </div>

                <!--<tabset>-->
                  <!--<tab heading="Related Tickets" id="related-ticket-tab">-->
                    <!--<data-table id="relatedTicketTable"-->
                                <!--[items]="relatedTicketList"-->
                                <!--[itemCount]="relatedTicketCount"-->
                                <!--[sortBy]="'created_date'" [sortAsc]="false"-->
                                <!--[substituteRows]="false"-->
                                <!--[indexColumnHeader]="'#'" [minHeight]="true"-->
                                <!--[pagination]="false" [header]="false">-->
                      <!--<data-table-column [property]="'name'" header="Ref" [sortable]="true"></data-table-column>-->
                      <!--<data-table-column [property]="'ticketContent.shortDescription'" header="Short Description" [sortable]="true"></data-table-column>-->
                      <!--<data-table-column [property]="'ticketStatusDisplay'" header="Status" [sortable]="true"></data-table-column>-->
                      <!--<data-table-column [property]="'createdTime.short'" header="Opened Date" [sortable]="true"></data-table-column>-->
                      <!--<data-table-column header="Actions">-->
                        <!--<ng-template #dataTableHeader let-item="item">-->
                          <!--<i>Actions</i>-->
                        <!--</ng-template>-->
                        <!--<ng-template #dataTableCell let-item="item">-->
                          <!--<button type="button" class="btn btn-sm text-white btn-danger"-->
                                  <!--(click)="onUpdateRelatedTicket(item.name, 'unlink')"><i class="fas fa-minus-circle"></i></button>-->
                        <!--</ng-template>-->
                      <!--</data-table-column>-->



                    <!--</data-table>-->
                    <!--&lt;!&ndash;<button type="button" class="btn btn-success" (click)="onTicketAction('createRelatedTicket')">&ndash;&gt;-->
                    <!--<button type="button" class="btn btn-success" (click)="modal.open(addTicketModal, 'sm')">-->
                      <!--<i class="fas fa-plus-circle"></i> Add Related Ticket-->
                    <!--</button>-->
                  <!--</tab>-->
                <!--</tabset>-->

                <ng-container *ngIf="model.ticketDataTemplateType === TicketDataTemplateType.Starhub">
                  <h5 class="border-bottom mb-4 pb-1 font-weight-bold mt-4">
                    CONTENT FOR STARHUB
                  </h5>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="transactionId">Transaction ID</label>
                    <div class="col-md-4">
                      <input id="transactionId" name="transactionId" class="form-control" placeholder="Transaction ID"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.transactionId">

                    </div>

                    <label class="col-md-2 form-control-label" for="type">Type</label>
                    <div class="col-md-4">
                      <input id="type" name="type" class="form-control" placeholder="Type"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.type">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="requestId">Request ID</label>
                    <div class="col-md-4">
                      <input type="number" id="requestId" name="requestId" class="form-control" placeholder="Request ID"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.requestId">

                    </div>

                    <label class="col-md-2 form-control-label" for="requestType">Request Type</label>
                    <div class="col-md-4">
                      <input id="requestType" name="requestType" class="form-control" placeholder="Request Type"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.requestType">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="problemClassification">Problem Classification</label>
                    <div class="col-md-4">
                      <input id="problemClassification" name="problemClassification" class="form-control" placeholder="Problem Classification"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.problemClassification">

                    </div>

                    <label class="col-md-2 form-control-label" for="severity">Severity</label>
                    <div class="col-md-4">
                      <input id="severity" name="severity" class="form-control" placeholder="Severity"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.severity">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="subType1">Sub-Type 1</label>
                    <div class="col-md-4">
                      <input id="subType1" name="subType1" class="form-control" placeholder="Sub-Type 1"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.subType1">

                    </div>

                    <label class="col-md-2 form-control-label" for="subType2">Sub-Type 2</label>
                    <div class="col-md-4">
                      <input id="subType2" name="subType2" class="form-control" placeholder="Sub-Type 2"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.subType2">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="customerCategory">Customer Category</label>
                    <div class="col-md-4">
                      <input id="customerCategory" name="customerCategory" class="form-control" placeholder="Customer Category"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.customerCategory">

                    </div>

                    <label class="col-md-2 form-control-label" for="customerSubCategory">Customer Sub-category</label>
                    <div class="col-md-4">
                      <input id="customerSubCategory" name="customerSubCategory" class="form-control" placeholder="Customer Sub-category"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.customerSubCategory">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="documentId">Document ID</label>
                    <div class="col-md-4">
                      <input id="documentId" name="documentId" class="form-control" placeholder="Document ID"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.documentId">

                    </div>

                    <label class="col-md-2 form-control-label" for="documentIdType">Document ID Type</label>
                    <div class="col-md-4">
                      <input id="documentIdType" name="documentIdType" class="form-control" placeholder="Document ID Type"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.documentIdType">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="newEmailAddress">New Email Address</label>
                    <div class="col-md-4">
                      <input id="newEmailAddress" name="newEmailAddress" class="form-control" placeholder="New Email Address"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.newEmailAddress">

                    </div>

                    <label class="col-md-2 form-control-label" for="newMobileNumber">New Mobile Number</label>
                    <div class="col-md-4">
                      <input id="newMobileNumber" name="newMobileNumber" class="form-control" placeholder="New Mobile Number"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.newMobileNumber">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="newDocumentId">New Document ID</label>
                    <div class="col-md-4">
                      <input id="newDocumentId" name="newDocumentId" class="form-control" placeholder="New Document ID"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.newDocumentId">

                    </div>

                    <label class="col-md-2 form-control-label" for="newDocumentIdType">New Document ID Type</label>
                    <div class="col-md-4">
                      <input id="newDocumentIdType" name="newDocumentIdType" class="form-control" placeholder="New Document ID Type"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.newDocumentIdType">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="newDepositAmount">New Deposit Amount</label>
                    <div class="col-md-4">
                      <input id="newDepositAmount" name="newDepositAmount" class="form-control" placeholder="New Deposit Amount"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.newDepositAmount">

                    </div>

                    <label class="col-md-2 form-control-label" for="partNumber">Part Number</label>
                    <div class="col-md-4">
                      <input id="partNumber" name="partNumber" class="form-control" placeholder="Part Number"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.partNumber">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="newCustomerCategory">New Customer Category</label>
                    <div class="col-md-4">
                      <input id="newCustomerCategory" name="newCustomerCategory" class="form-control" placeholder="New Customer Category"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.newCustomerCategory">

                    </div>

                    <label class="col-md-2 form-control-label" for="newCustomerSubCategory">New Customer Sub-category</label>
                    <div class="col-md-4">
                      <input id="newCustomerSubCategory" name="newCustomerSubCategory" class="form-control" placeholder="New Customer Sub-category"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.newCustomerSubCategory">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="newBillingAccount">New Billing Account</label>
                    <div class="col-md-4">
                      <input id="newBillingAccount" name="newBillingAccount" class="form-control" placeholder="New Billing Account"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.newBillingAccount">

                    </div>

                    <label class="col-md-2 form-control-label" for="newBillingCycle">New Billing Cycle</label>
                    <div class="col-md-4">
                      <input id="newBillingCycle" name="newBillingCycle" class="form-control" placeholder="New Billing Cycle"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.newBillingCycle">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="productName">Product Name</label>
                    <div class="col-md-4">
                      <input id="productName" name="productName" class="form-control" placeholder="Product Name"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.productName">

                    </div>

                    <label class="col-md-2 form-control-label" for="productType">Product Type</label>
                    <div class="col-md-4">
                      <input id="productType" name="productType" class="form-control" placeholder="Product Type"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.productType">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="serviceId">Service ID</label>
                    <div class="col-md-4">
                      <input id="serviceId" name="serviceId" class="form-control" placeholder="Service ID"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.serviceId">

                    </div>

                    <label class="col-md-2 form-control-label" for="serviceAssetId">Service Asset ID</label>
                    <div class="col-md-4">
                      <input id="serviceAssetId" name="serviceAssetId" class="form-control" placeholder="Service Asset ID"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.serviceAssetId">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="transactionNote">Transaction Note</label>
                    <div class="col-md-4">
                      <input id="transactionNote" name="transactionNote" class="form-control" placeholder="Transaction Note"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.note">

                    </div>

                    <label class="col-md-2 form-control-label" for="noteType">Note Type</label>
                    <div class="col-md-4">
                      <input id="noteType" name="noteType" class="form-control" placeholder="Note Type"
                             disabled
                             [value]="model.ticketContent?.supportTransaction?.noteType">

                    </div>

                  </div>

                  <div class="form-group row">
                    <label class="col-md-2 form-control-label" for="remarks">Remarks</label>
                    <div class="col-md-4">
                      <textarea id="remarks" name="remarks" class="form-control" placeholder="Remarks"
                                disabled
                                [value]="model.ticketContent?.supportTransaction?.remarks">
                      </textarea>
                    </div>
                  </div>

                </ng-container>

              </tab>
            </tabset>
          </div>
        </ng-container>
      </div>
    </form>
  </div>

  <ng-template #uploadFilesModal>
    <file-upload [resourceModel]="'ticket'" [resourceId]="model.id" (uploadSuccess)="uploadSuccess($event)" (uploadFail)="uploadFail()"></file-upload>
  </ng-template>

  <ng-template #stepModal>
    <ng-container *ngIf="modalAction == 'update'">
      <div class="modal-header">
        <div class="col-md-3 pl-0">
          <button type="button" class="btn btn-md btn-success text-white" (click)="initStepCreate(stepToAction)" >
            <i class="fas fa-plus"></i> Create New Step
          </button>
        </div>
        <div class="offset-md-5 col-md-4 pl-0 pr-0">
          <select name="stepOption" id="stepOption" class="form-control"
                  [ngModel]="stepToAction?.id" (change)="selectStepById($event.target.value)" #stepOption="ngModel">
            <option *ngFor="let step of stepList" [value]="step.id">{{ step.name }}</option>
          </select>
        </div>
      </div>
    </ng-container>
    <div class="modal-body admin-crud-form">
      <form method="post" class="form-horizontal" #stepModal="ngForm">
        <div class="form-group row">
          <label class="col-md-4 form-control-label required" for="stepNameModal" required>Name</label>
          <div class="col-md-8">
            <input type="text" id="stepNameModal" name="stepNameModal" class="form-control" placeholder="Step name"
                   [disabled]="is('detail')"
                   [(ngModel)]="stepToAction.name" #stepNameModal="ngModel">

          </div>
          <div *ngIf="stepNameModal.touched && stepNameModal.invalid" class="invalid-feedback">
            <div *ngIf="stepNameModal?.errors.required">
              Step name is required.
            </div>
          </div>

        </div>

        <div class="form-group row">
          <label class="col-md-4 form-control-label required" for="stepStatusModal">Status</label>
          <div class="col-md-8">
            <ng-container *ngIf="!is('detail')">
              <select name="stepStatusModal" id="stepStatusModal" class="form-control"
                      [class.is-invalid]="stepStatusModal.touched && stepStatusModal.invalid"
                      required
                      [(ngModel)]="stepToAction.stepStatus" #stepStatusModal="ngModel">
                <option value="null" disabled>Please select a status</option>
                <option *ngFor="let option of ticketStepStatusOptions | toArray" [value]="option.key">{{ option.value }}</option>
              </select>

              <div *ngIf="stepStatusModal.touched && stepStatusModal.invalid" class="invalid-feedback">
                <div *ngIf="stepStatus?.errors.required">
                  Status is required.
                </div>
              </div>
            </ng-container>

            <input *ngIf="is('detail')" class="form-control" disabled [value]="stepToAction.stepStatusDisplay" placeholder="Status">

          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 form-control-label required" for="stepDescriptionModal">Description</label>
          <div class="col-md-8">
            <textarea id="stepDescriptionModal" name="stepDescriptionModal" class="form-control" placeholder="Description"
                      [disabled]="is('detail')"
                      required
                      [(ngModel)]="stepToAction.description" #stepDescriptionModal="ngModel">
            </textarea>

            <div *ngIf="stepDescriptionModal.touched && stepDescriptionModal.invalid" class="invalid-feedback">
              <div *ngIf="stepDescriptionModal?.errors.required">
                Description is required.
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 form-control-label" for="stepContentModal">Content</label>
          <div class="col-md-8">
            <textarea id="stepContentModal" name="stepContentModal" class="form-control" placeholder="Content"
                      [disabled]="is('detail')"
                      [(ngModel)]="stepToAction.content" #stepContentModal="ngModel">
            </textarea>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 form-control-label" for="stepAssigneeModal">Assignee</label>
          <div class="col-md-8">
            <ng-container *ngIf="!is('detail')">
              <select name="stepAssigneeModal" id="stepAssigneeModal" class="form-control"
                      [ngModel]="stepToAction.assignee?.id" (change)="selectById($event.target.value, 'stepToAction.assignee', 'assigneeList')" #stepAssigneeModal="ngModel">
                <option [value]="null">Unassigned</option>
                <option *ngFor="let assignee of assigneeList" [value]="assignee.id">{{ assignee.fullName }}</option>
              </select>
            </ng-container>

            <input *ngIf="is('detail')" class="form-control" disabled [value]="stepToAction.assignee?.fullName" placeholder="Assignee">
          </div>

        </div>

        <div class="form-group row">
          <label class="col-md-4 form-control-label" for="stepSupervisorModal">Supervisor</label>
          <div class="col-md-8">
            <ng-container *ngIf="!is('detail')">
              <select name="stepSupervisorModal" id="stepSupervisorModal" class="form-control"
                      [ngModel]="stepToAction.supervisor?.id" (change)="selectById($event.target.value, 'stepToAction.supervisor', 'supervisorList')" #stepSupervisorModal="ngModel">
                <option [value]="null">Unassigned</option>
                <option *ngFor="let supervisor of supervisorList" [value]="supervisor.id">{{ supervisor.fullName }}</option>
              </select>
            </ng-container>

            <input *ngIf="is('detail')" class="form-control" disabled [value]="stepToAction.supervisor?.fullName" placeholder="Supervisor">
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-4 form-control-label" for="notificationModal" >Notification</label>
          <div class="col-md-8">
            <div class="toggle-wrapper">
              <input type="checkbox" id="notificationModal" name="notificationModal" [disabled]="is('detail')"
                     [(ngModel)]="stepToAction.isNotified" #notificationModal="ngModel"/>
              <label for="notificationModal" class="toggle"><span class="toggle-handler"></span></label>
            </div>
          </div>

        </div>

        <div class="form-group row" *ngIf="modalAction === 'update'">
          <label class="col-md-4 form-control-label" for="workLog" >Work Log</label>
          <div class="col-md-3 input-group" style="height: 35px">
            <input type="number" id="workLog" name="workLog" class="form-control"
                   [disabled]="is('detail')"
                   [(ngModel)]="stepToAction.workLog" #workLog="ngModel">

            <div class="input-group-append">
              <span class="input-group-text">h</span>
            </div>

          </div>

        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-md mr-auto" (click)="modal.hide()">Back</button>
      <button type="button" class="btn btn-md"
              [ngClass]="{
                'btn-success': modalAction === 'create',
                'btn-primary': modalAction === 'update'
              }"
              (click)="modalAction === 'create' ? onStepSubmit('create') : onStepSubmit('update')" [disabled]="!stepModal.form.valid">
        <span class="font-weigh-bold"> {{ modalAction === 'create' ? 'Add' : 'Save' }}</span>
      </button>

    </div>
  </ng-template>

  <ng-template #addTicketModal>
    <div class="modal-content">

      <!-- Modal body -->
      <div class="modal-body ">
        <div class="d-flex justify-content-center pt-1">
          <h4>Add related ticket</h4>
        </div>

        <div class="d-flex justify-content-center pt-2 pb-2">
          <button (click)="modal.hide(); modal.open(ticketsToSetRelation, 'lg'); reloadTicketToSetRelation(dataTicketTable)" class="btn btn-primary mr-4">
            <span>Existing</span>
          </button>
          <button (click)="onTicketAction('createRelatedTicket')" class="btn btn-success">
            <span>Create</span>
          </button>
        </div>
      </div>
    </div>
  </ng-template>

  <ng-template #ticketsToSetRelation>
    <div class="modal-header">
      <h5 class="modal-title">Select Related Ticket</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div><!-- /modal-header-->
    <div class="modal-body" [loadingDisplay]="isTicketsLoading">
      <!-- Search form -->
      <form class="form-horizontal" (ngSubmit)="reloadTickets(getResetTicketTableParameters())">
        <div class="form-group row">
          <div class="col-md-10">
            <div class="input-group">
              <input type="text" class="form-control" name="search" placeholder="Ref / Description / Assignee / Customer"
                     [(ngModel)]="ticketCriteriaAllInOne">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
      </form>
      <data-table id="ticketsToSetRelationTable"
                  [items]="ticketToSetRelationList"
                  [itemCount]="ticketsMetaToSetRelation.count"
                  [page]="ticketsMetaToSetRelation.page"
                  [limit]="10"
                  [sortBy]="'createdTime'" [sortAsc]="false"
                  [indexColumnHeader]="'#'"
                  [substituteRows]="false"
                  [isColumnsSelectable]="true"
                  (reload)="reloadTicketToSetRelation($event)">
        <data-table-column [property]="'name'" [header]="'Ref'" [sortable]="true"></data-table-column>
        <data-table-column [property]="'ticketContent.description'" [header]="'Description'" [sortable]="true"></data-table-column>
        <data-table-column [property]="'assignee.fullName'" [header]="'Assignee'" [sortable]="true"></data-table-column>
        <data-table-column [property]="'customer.name'" [header]="'Customer'" [sortable]="true"></data-table-column>
        <data-table-column header="Actions">
          <ng-template #dataTableHeader let-item="item">
            <i>Actions</i>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
            <ng-container *ngIf="(item.name !== model.name) && !(model.relatedTicketArray | includes: item.name)">
              <button type="button"
                      class="btn btn-sm text-white btn-success"
                      (click)="onUpdateRelatedTicket(item.name, 'link')"><i class="fas fa-plus"></i></button>
            </ng-container>
          </ng-template>
        </data-table-column>
      </data-table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.hide()">Back</button>
    </div>
  </ng-template>

  <ng-template #customerSelect>
    <div class="modal-header">
      <h5 class="modal-title">Select Customer</h5>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div><!-- /modal-header-->
    <div class="modal-body" [loadingDisplay]="isCustomerLoading">
      <!-- Search form -->
      <form class="form-horizontal" (ngSubmit)="reloadCustomer(getResetCustomerTableParameters())">
        <div class="form-group row">
          <div class="col-md-10">
            <div class="input-group">
              <input type="text" class="form-control" name="search" placeholder="Sunseap Account / Customer Name / GST / UEN / Postal / Address / Customer Type"
                     [(ngModel)]="customerCriteriaAllInOne">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
      </form>
      <data-table id="customers-table"
                  [items]="customerList"
                  [itemCount]="customerMeta.count"
                  [page]="customerMeta.page"
                  [limit]="20"
                  [sortBy]="'createdTime'" [sortAsc]="false"
                  [indexColumnHeader]="'#'"
                  [substituteRows]="false"
                  [isColumnsSelectable]="true"
                  (reload)="reloadCustomer($event)">
        <data-table-column [property]="'spAccountNo'" [header]="'Sunseap Account No'" [sortable]="true"></data-table-column>
        <data-table-column [property]="'name'" [header]="'Customer Name'" [sortable]="true"></data-table-column>
        <data-table-column [property]="'gstRegisteredNo'" [header]="'GST Registered No'" [visible]="false" [sortable]="true"></data-table-column>
        <data-table-column [property]="'identificationNo'" [header]="'UEN/ACRA'" [visible]="false" [sortable]="true"></data-table-column>
        <data-table-column [property]="'postalCode'" [header]="'Postal Code'" [sortable]="true"></data-table-column>
        <data-table-column [property]="'address'" [header]="'Address'" [visible]="false" [sortable]="true"></data-table-column>
        <data-table-column [property]="'emailAddress'" [header]="'Email Address'" [visible]="false" [sortable]="true"></data-table-column>
        <data-table-column [property]="'countryDisplay'" [sortProperty]="'country'" [header]="'Country'" [visible]="false" [sortable]="true"></data-table-column>
        <data-table-column [property]="'typeDisplay'" [sortProperty]="'type'" [header]="'Customer Type'" [sortable]="true"></data-table-column>
        <data-table-column [property]="'createdTime.short'" [header]="'Created Time'" [visible]="false" [sortable]="true"></data-table-column>
        <data-table-column [property]="'updatedTime.short'" [header]="'Last Updated Time'" [sortable]="true"></data-table-column>
        <data-table-column header="Actions">
          <ng-template #dataTableHeader let-item="item">
            <i>Actions</i>
          </ng-template>
          <ng-template #dataTableCell let-item="item">
            <button type="button" class="btn btn-sm text-white"
                    [ngClass]="{
                      'btn-primary': model.customer?.id !== item.id,
                      'btn-secondary': model.customer?.id === item.id
                    }"
                    [disabled]="model.customer?.id === item.id"
                    (click)="onSelectCustomer(item)">Select</button>
          </ng-template>
        </data-table-column>
      </data-table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.hide()">Close</button>
    </div>
  </ng-template>
</div>
