<div class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="row">
        <!--left content-->
        <div class="col-6">
          <!--error code-->
          <div>
            <p class="text-dark error-code">403</p>
          </div>
        </div>
        <!--right content-->
        <div class="col-6">
          <!--oops-->
          <div class="mb-4">
            <p class="oops">Oops, sorry!</p>
          </div>
          <!--explanation-->
          <div class="mb-4">
            <p class="explanation">You don't have permission to access this page.</p>
            <p class="h1">Please contact your administrator to request permission to access this content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
