<div class="card">

  <div class="card-header">
    <i class="fa fa-align-justify"></i> {{ data.title }}
    <div class="float-right" *ngIf="isAccessible(PageAccess.Create)">
      <a class="btn btn-md btn-success" [routerLink]="'new'">
        <i class="fas fa-plus"></i> Create
      </a>
    </div>
  </div>

  <div class="card-body block-loading" [class.is-loading]="isLoading">
    <!-- Search form -->
    <form class="form-horizontal" (ngSubmit)="reloadItems(getResetTableParameters())">
      <div class="form-group row">
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" name="search" placeholder="Username / Email / Phone Number"
                   [(ngModel)]="criteriaAllInOne">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </span>
          </div>
        </div>
      </div>
    </form>

    <!-- Data table -->
    <data-table id="table"
                [items]="items"
                [itemCount]="meta.count"
                [page]="meta.page"
                [limit]="20"
                [indexColumnHeader]="'#'"
                [substituteRows]="false"
                (reload)="reloadItems($event)">
      <data-table-column [property]="'username'" [header]="'Username'"></data-table-column>
      <data-table-column [property]="'fullName'" [header]="'Full Name'"></data-table-column>
      <data-table-column [property]="'email'" [header]="'Email Address'"></data-table-column>
      <data-table-column [property]="'phoneNumber'" [header]="'Phone Number'"></data-table-column>
      <data-table-column [property]="'jobDesignation'" [header]="'Job Designation'"></data-table-column>
      <data-table-column [property]="'createdTime.short'" [header]="'Created Time'" [visible]="false"></data-table-column>
      <data-table-column [property]="'updatedTime.short'" [header]="'Last Updated Time'"></data-table-column>
      <data-table-column header="Actions" *ngIf="isAccessible(PageAccess.Edit)">
        <ng-template #dataTableHeader let-item="item">
          <i>Actions</i>
        </ng-template>
        <ng-template #dataTableCell let-item="item">
          <a class="btn btn-primary btn-sm" [routerLink]="[ item.id, PageAccess.Edit ]"><i class="fas fa-edit"></i></a>
        </ng-template>
      </data-table-column>
    </data-table>
  </div>
</div>
