<div class="app">
  <header class="app-header navbar layer-10">
    <a class="navbar-brand" href="#"></a>
  </header>
  <div class="app-body bg-green-tree flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-md-6">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
  <footer class="app-footer">
    <a href="#">Sunseap</a> &copy; {{ currentYear }}.
    <span class="float-right">Powered by <a href="#">Sunseap</a></span>
  </footer>
</div>
