<div class="card box-radius box-transparent text-white text-center">
  <div class="card-body">
    <div *ngIf="!forgetPasswordSuccess">
      <form action="" [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()">
        <h1 class="font-weight-bold">Forget Password</h1>
        <p class="pb-4">We will send you instroductions on how to reset your password by email.</p>

        <div class="input-group mb-3">
                      <span class="input-group-addon d-flex align-items-center">
                      </span>
          <input type="email" autocomplete="off"
                 class="form-control box-radius required" placeholder="Email"
                 id="email" name="email"
                 formControlName="email" required email
                 (keyup)="forgetPasswordFail && (forgetPasswordFail = false)"
                 [class.is-invalid]="email.touched && email.invalid">
          <div *ngIf="email.touched && email.invalid" class="invalid-feedback">

            <alert type="error" *ngIf="email.errors['required']">
              <span class="text-white">Email address is required.</span>
              <div class="form-error-arrow">
                <div class="form-error-arrow-inner"></div>
              </div>
            </alert>

            <alert type="error" *ngIf="!email.errors.required && email.errors['email']">
              <span class="text-white">"{{ email.value }}" is not a valid email.</span>
              <div class="form-error-arrow">
                <div class="form-error-arrow-inner"></div>
              </div>
            </alert>
          </div>
        </div>

        <alert type="error" *ngIf="forgetPasswordFail">
          <span class="text-white">{{ forgetPasswordFailMessage }}</span>
        </alert>

        <div class="row pt-4">
          <div class="col-6 text-left">
            <button type="submit" class="btn btn-primary addon-offset text-white px-4" [disabled]="forgetPasswordForm.invalid">Submit</button>
          </div>
          <div class="col-6 text-right">
            <a class="text-white" href="javascript:void(0)" (click)="login()">Back to Login</a>
          </div>
        </div>
      </form>
    </div>
    <div *ngIf="forgetPasswordSuccess" class="p-1">
      <h2>Thank you!</h2>
      <p class="text-muted mt-4">
        Please check your email.
      </p>
    </div>
  </div>
</div>
