<div class="card box-radius box-transparent text-white text-center">
  <div class="card-body">
    <div *ngIf="!resetPasswordSuccess">
      <h1>Reset Password</h1>
      <p class="text-muted">&nbsp;</p>
      <div *ngIf="!validateResetPasswordTokenFail">
        <form action="" autocomplete="nope" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
          <div class="input-group mb-3">
                      <span class="input-group-addon d-flex align-items-center">
                        <i class="fa fa-key"></i>
                      </span>
            <input type="password" class="form-control required" placeholder="New Password" autocomplete="off"
                   id="newPassword" name="newPassword"
                   formControlName="newPassword"
                   [class.is-invalid]="newPassword.touched && newPassword.invalid"
                   (keyup)="resetPasswordFail && (resetPasswordFail = false)"
            />
            <div *ngIf="newPassword.touched && newPassword.invalid" class="invalid-feedback">

              <div *ngIf="newPassword.errors['required']">
                Password is required.
              </div>
              <div *ngIf="newPassword.errors['pattern']">
                Password includes 8 to 16 characters and MUST contain capital letters, numbers and special characters.
              </div>

            </div>
          </div>
          <div class="input-group mb-3">
                      <span class="input-group-addon d-flex align-items-center">
                        <i class="fa fa-key"></i>
                      </span>
            <input type="password" class="form-control" placeholder="Confirm New Password" autocomplete="off"
                   id="confirmPassword" name="confirmPassword"
                   formControlName="confirmPassword" required
                   [class.is-invalid]="confirmPassword.touched && (confirmPassword.invalid || newPassword.value !== confirmPassword.value)"
                   (keyup)="resetPasswordFail && (resetPasswordFail = false)"
            >
            <div *ngIf="confirmPassword.touched && (confirmPassword.invalid || newPassword.value !== confirmPassword.value)" class="invalid-feedback">

              <div *ngIf="confirmPassword.invalid && confirmPassword.errors['required']">
                Confirm Password is required.
              </div>
              <div *ngIf="newPassword.value !== confirmPassword.value">
                Password and Confirm Password is not match
              </div>

            </div>
          </div>

          <alert type="error" *ngIf="resetPasswordFail">
            <span class="text-white">{{ resetPasswordFailMessage }}</span>
            <div class="form-error-arrow">
              <div class="form-error-arrow-inner"></div>
            </div>
          </alert>

          <div class="row pt-4">
            <div class="col-6">
              <button type="submit" class="btn btn-primary px-4" [disabled]="resetPasswordForm.invalid || newPassword.value !== confirmPassword.value">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="validateResetPasswordTokenFail">
        <p class="text-muted mt-4">
          {{ validateResetPasswordTokenMessage }}
        </p>
        <div class="row pt-4">
          <div class="col-6">
            <ng-container *ngIf="validateResetPasswordTokenMessage !== AuthFailMessage.ExistedPassword">
              <a class="btn btn-primary" [routerLink]="'../../auth/forget-password'">Forget Password</a>
            </ng-container>
            <ng-container *ngIf="validateResetPasswordTokenMessage === AuthFailMessage.ExistedPassword">
              <button class="btn btn-primary" (click)="createForm(); validateResetPasswordTokenFail = false">Re-Enter New Password</button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="resetPasswordSuccess">
      <h1>Password Changed!</h1>
      <p class="text-muted mt-4">
        <a [routerLink]="'../../login'">Click here to continue to Login</a>
      </p>
    </div>
  </div>
</div>
