<div class="justify-content-between custom-field">
  <label [for]="modelFieldName" class="pr-1 font-weight-bold">{{ fieldName }}</label>
  <ng-container *ngIf="!isEnable">
    <div class="flex-1">{{ currentValue }}</div>
  </ng-container>
  <ng-container *ngIf="isEnable">
    <div class="flex-1" *ngIf="!isInputting">{{ currentValue }}</div>
    <input type="text" bsDatepicker [id]="modelFieldName"
           [ngClass]="{ 'd-none': !isInputting, 'flex-1 border-radius-25': isInputting }"
           [minDate]="minDate"
           [bsConfig]="adminConfig?.bootstrap?.datePicker"
           [(ngModel)]="currentValue" #inputModel="ngModel" #inputElement>
    <i *ngIf="isUpdating" class="fa fa-spinner fa-spin p-2"></i>
    <button *ngIf="isInputting && !isUpdating"
            (mousedown)="cancelInput()"
            class="action-button bg-white border-0">
      <i class="fas fa-times text-danger p-1"></i>
    </button>
    <button *ngIf="isInputting && !isUpdating && !inputModel?.invalid && !inputModel?.errors?.required"
            (mousedown)="updateInput(); $event.preventDefault()"
            class="action-button bg-white border-0">
      <i class="fas fa-check text-success p-1"></i>
    </button>
    <button *ngIf="!isInputting && !isUpdating" class="action-button bg-white border-0"
            (click)="changeValue($event, inputModel, inputElement); editField()">
      <i class="fas fa-pencil-alt p-1"></i>
    </button>
  </ng-container>
</div>
